@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Saira", sans-serif;
}

@layer utilities {
  .search-box-shadow {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }

  .menu-box-shadow {
    box-shadow: 9px 3px 5px -5px rgba(0, 0, 0, 0.2);
  }
}

.react-github-calendar__calendar {
  width: 100%;
}
